
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 175%;
}

div#container {
  position: relative;
}

#sectionTitle {
  width: 100px;
  border: 1px solid black;
  margin-right: 10px;
  background-color: #FFFF99;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 125%;
}

#box{
	background-color: #D3D3D3;
	border: 1px solid black;
	overflow: auto;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:20px;
	padding-top: 25px;
	padding-bottom: 10px;
	color: black;
	text-align: justify; 
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-des-1, .col-des-2, .col-des-3, .col-des-4, .col-des-5, .col-des-6, .col-des-7, .col-des-8, .col-des-9, .col-des-10, .col-des-11, .col-des-12 {
    float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  .col-des-1 {
    width: 8.33%;
  }
  .col-des-2 {
    width: 16.66%;
  }
  .col-des-3 {
    width: 25%;
  }
  .col-des-4 {
    width: 33.33%;
  }
  .col-des-5 {
    width: 41.66%;
  }
  .col-des-6 {
    width: 50%;
  }
  .col-des-7 {
    width: 58.33%;
  }
  .col-des-8 {
    width: 66.66%;
  }
  .col-des-9 {
    width: 74.99%;
  }
  .col-des-10 {
    width: 83.33%;
  }
  .col-des-11 {
    width: 91.66%;
  }
  .col-des-12 {
    width: 100%;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  .col-tab-1 {
    width: 8.33%;
  }
  .col-tab-2 {
    width: 16.66%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-4 {
    width: 33.33%;
  }
  .col-tab-5 {
    width: 41.66%;
  }
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-7 {
    width: 58.33%;
  }
  .col-tab-8 {
    width: 66.66%;
  }
  .col-tab-9 {
    width: 74.99%;
  }
  .col-tab-10 {
    width: 83.33%;
  }
  .col-tab-11 {
    width: 91.66%;
  }
  .col-tab-12 {
    width: 100%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
    float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  .col-mob-1 {
    width: 8.33%;
  }
  .col-mob-2 {
    width: 16.66%;
  }
  .col-mob-3 {
    width: 25%;
  }
  .col-mob-4 {
    width: 33.33%;
  }
  .col-mob-5 {
    width: 41.66%;
  }
  .col-mob-6 {
    width: 50%;
  }
  .col-mob-7 {
    width: 58.33%;
  }
  .col-mob-8 {
    width: 66.66%;
  }
  .col-mob-9 {
    width: 74.99%;
  }
  .col-mob-10 {
    width: 83.33%;
  }
  .col-mob-11 {
    width: 91.66%;
  }
  .col-mob-12 {
    width: 100%;
  }
}
